* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.principal {
    width: 100%;
    height: 100vh;
    background-color: #e9eaeb;
    display: flex;
}

.conteudoCentral {
    width: 70%;
    height: 100vh;
}

.logo {
    width: 120px;
    height: 48px;
    padding-top: 40px;
    padding-left: 40px;
}

.titulo {
    width: 680px;
    height: 48px;
    margin-top: 250px;
    margin-left: 240px;
}

h1 {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
}

#textAreaContainer {
    margin-bottom: 20px;
}

textarea {
    width: 665px;
    height: 67px;
    padding: 10px;
    margin-left: 240px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}

.codigo_aviso {
    display: flex;
    opacity: 80%;
    margin-left: 240px;
    margin-top: 20px;
}

.codigo_aviso img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.aviso {
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
}

.button-container {
    display: flex; 
    gap: 16px; 
    padding-left: 240px;
    margin-top: 15px;
}

.botao1 {
    width: 328px; 
    height: 67px; 
    padding: 24px;
    border-radius: 24px; 
    background-color: #0A3871;
    color: white; 
    font-size: 16px;
    border: none;
    cursor: pointer; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.botao1:hover {
    background-color: #002955;
}

.botao2 {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #cdcfd1;
    color: #0A3871;
    font-size: 16px; 
    border: 1px solid #0A3871;
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.botao2:hover {
    background-color: #aaabac; 
}

.conteudoEsquerda {
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.retangular {
    width: 90%;
    height: 90vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.container {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo_imagem {
    display: flex;
    justify-content: center;
}

.conteudo_texto {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cabecalho {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #343A40;
    margin-top: 25px;
}

.texto {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    color: gray;
}

#resultado {
    display: none; 
    width: 100%; 
    height: 100vh;
    background-color: white;
    color: #0A3871;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    border: none; 
    box-shadow: none; 
}

#botaoCopiar {
    display: none;
    width: 120px;
    height: 67px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #0A3871;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
}

#botaoCopiar:hover {
    background-color: #002955;
}

.rodape {
    width: 100%;
    background-color: #e9eaeb;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    color: #495057;
}     